<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hu.dazuoye">

    
    <application
        android:allowBackup="true"
        android:icon="@drawable/jiaotong"
        android:label="智能交通"
        android:roundIcon="@drawable/jiaotong"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">

        <uses-library android:name="android.test.runner"/>
        <activity android:name=".Loading">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".Login" android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity android:name=".Register" />
        <activity android:name=".TitleActivity" />
        <activity android:name=".ReCharge" />
        <activity android:name=".Dialog"/>
        <activity android:name=".EnvironmentIndex"/>
        <activity android:name=".charset.TemperatureActivity"/>
        <activity android:name=".charset.HumidityActivity"/>
        <activity android:name=".charset.CO2Activity"/>
        <activity android:name=".charset.PM25Activity"/>
        <activity android:name=".charset.SunlightActivity"/>
        <activity android:name=".charset.RoadwayActivity"/>
    </application>

</manifest>